.card {
    height: 350px;
    width: 400px;
    float: left;
    margin-left: 3%;
    margin-right: auto;
}

.progress {
    margin-left: 5px;
    margin-right: 5px;    
}

.material-icons {
    cursor: pointer;
    float: right;
}

.material-icons:hover {
    color: red;
}

.goal-update {
    margin-left: 50px;
    margin-right: 50px;
}

.goal-complete {
    margin-left: 50px;
    margin-right: 50px;
}

button.goal-update:hover {
    background-color: rgb(209, 205, 205);
}
